:root {
  --it-blue: #38BDF8;
  --background-color: #0D1117;
  --text-color: #C9D1D9;
  --accent-color: #38BDF8;
  --standard-gray: #8B949E;
}

html {
  font-size: 62.5%;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #0D1117;
  font-family: Inter, Arial, Helvetica, sans-serif;
}

nav {
  background-color: #0D1117;
  padding: 3.5vh 14vh;
  color: white;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  /* Use px para a borda, pois é uma unidade fixa e ideal para isso */
  border-bottom: 1px solid #30363D;
}

#navbuttons {
  font-size: 1.5rem;
  display: flex;
  justify-content: space-around;
}

.nav-button {
  position: relative;
  /* Use rem para espaçamentos */
  margin-right: 2rem;
  color: var(--standard-gray);
  transition: color 0.3s ease;
}

.nav-button:hover {
  color: var(--it-blue);
}

.nav-button::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: var(--it-blue);
  /* Use rem para espaçamento */
  bottom: -0.5rem;
  left: 0;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.4s ease-in-out;
  will-change: transform;
}

.nav-button:hover::after {
  transform: scaleX(1);
  height: 2px;
}

#name {
  font-size: 2rem;
  font-weight: bold;
}

.hero-title {
    font-size: 6.5rem;
    font-weight: bolder;
    color: white;
}
.letra{
  transition: text-shadow 0.2s, color 0.2s;
  will-change: text-shadow, color;
}
.letter {
  color: black;
}
#dynamic-text{
  color: var(--it-blue);
  text-shadow: 0 0 7px var(--it-blue);
}
#dynamic-text::after{
  content: '|';
  margin-left: 5px;
  font-weight: bold;
  animation: blink 1s infinite;
}

@keyframes blink{
  0%, 100%{
    opacity: 1;
  }
  50%{
    opacity: 0;
  }
}

#hero-subtitle{
  color: var(--standard-gray);
  font-size: 2rem;
  display: block;
  width: 700px;
  text-align: center;
}

#hero-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  z-index: 2;
}